.left{
  display: flex;
  justify-content: flex-end;
}

.right{
  display: flex;
  justify-content: flex-start;
}

.card:hover {
  background-color: #CFC3D4;
}

.space_cards{
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

.center{
  justify-content: center;
  text-align: center;
  align-items: middle;
}

.question{
  font-size: 26px;
  margin: 6px;
}
.card_title{
  font-size: 2rem;
}
.green{
  background-color: lightgreen;
}
.red{
  background-color: #ff6969;
}

.hidden{
  display: none;
}

.container-row{
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
  align-items: space-between;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4px;
  padding: 4px;
}


.score {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 16px;
  text-align: center;
  padding:10px;
}

.feedback_section{
  font-size: 20px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 10px;
}

.nohover{
  background-color: white;
}
