<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--<link rel="stylesheet" src="..static/css/flashcard.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/flashcard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../static/flashcard.js"></script>
  <script src="../static/navigation.js"></script>

  <script>
    var term = {{term|tojson}}
    var image = {{image|tojson}}
    var division = {{division|tojson}}
    var back = {{back|tojson}}
    var id = {{id|tojson}}
    var back_length = {{back_length|tojson}}
    var tip = {{tip|tojson}}
  </script>

  <style media="screen">

</style>

</head>

<body>
  {% extends "layout.html" %}

  {% block content %}

  <div class="container center">
    <h1>{{division}} Positions</h1>

    <div class="row">
      <div class="col-md-2 justify-content-center">
        <button type="button" class="btn btn-secondary btn-circle btn-md move_btn prev_btn" id="prev_{{id}}"> < </button>
      </div>

      <div class="flip-card center col-md-8">
        <div class="flip-card-inner">
            <div class="flip-card-front container-card">
              <div class="card-title">{{term}}</div>
                  <img class="card-img-top image" src="{{image}}">
                  <i class="fa fa-share" style="font-size:48px;"></i>
            </div>
          <div class="flip-card-back container-card">
            <div class="card-title capital">{{term}}</div>
            <ul class="left item-container">
            {% for i in range(back_length) %}
            <li>{{back[i]}}</li>
            {% endfor %}
            </ul>
            <br>
            <!--<i class="fa fa-share" style="font-size:48px;"></i>-->
          </div>
        </div>
      </div>

      <div class="col-md-2 justify-content-center">
        <button type="button" class="btn btn-secondary btn-circle btn-md next_btn move_btn" id="next_{{id}}"> > </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>

      <div class="col-md-4 center card_num">
        {{id}}/10
      </div>

      <div class="col-md-4 hidden right">
        <button type="button" name="button" class="btn btn-secondary hide" id="start_reviewbtn_{{id}}">Review</button>
      </div>
    </div>
  </div>

  {% endblock %}
</body>
</html>
