<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <style>
  .left{
    align-items: left;
  }

  .hide{
    display: none;
  }
  .pad_search{
    margin-right: 20px;
  }
  .dark{
    background-color: black;
  }
  body{
    font-family: "Times New Roman", Times, serif;
  }

  .li-nav{
    ;
  }

  .li-nav:hover{
    background-color: #CFC3D4;;
  }

  </style>
</head>

<body>

<!-- adapted from code on https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FBF7F4; text-color: #2D3131;">
  <a class="navbar-brand" href="/">Ballet Basics</a>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item li-nav">
        <a class="nav-link" href="/learn">Learn</a>
      </li>
      <li class="nav-item li-nav">
        <a class="nav-link" href="/quiz">Quiz</a>
      </li>
      <li class="nav-item li-nav">
        <a class="nav-link" href="/classes">Start Dancing</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    {% block content %}

    {% endblock %}
  </div>

</body>
</html>
