<!-- Home Page -->

<html>
<head>
  <!-- Add Bootstrap -->
  <meta charset="utf-8">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" src="../css/flashcard.css"/>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="../static/flashcard.js"></script>
  <script src="../static/navigation.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/learn.css">
</head>

<body>
  {% extends "layout.html" %}

  {% block content %}

  <div class="container space_top">
    <h1>Are you ready to learn?</h1>
    <p class="space_top">
      In ballet, there are <span class="highlight">five fundamental foot positions</span>, first, second, third, fourth and fifth position.
      All steps rely on familiarity and confidence with these positions.
      <span class="highlight">Each foot position has a corresponding arm position</span> so you will learn a total of 10 positions.
    </p>
    <button type="button" name="button" class="btn btn-outline-dark btn-lg space_top space_top" id="start_learn_btn">Start Learning</button>
    </div>

  {% endblock %}
</body>
</html>
