<!-- Home Page -->

<html>
<head>
  <!-- Add Bootstrap -->
  <meta charset="utf-8">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="../static/quiz.js"></script>
  <script src="../static/navigation.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/quiz.css">

  <script>
  var score = {{score|tojson}}
  var pics = {{pics|tojson}}
  var n = {{n|tojson}}
  var q = {{q|tojson}}
  var correct_phrase = {{correct_phrase|tojson}}
  var wrong = {{wrong|tojson}}
  </script>

  <style media="screen">
  .space_cards{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
  }
  .card_title{
    font-size: 2rem;
  }
  </style>
</head>

<body>
  {% extends "layout.html" %}

  {% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        Question {{p}}: True or False: <br><br>{{q}}
      </div>
      <div class="col-md-3">
        Score: {{score}}/10
      </div>
    </div>
    <div class="row hidden">
      <div class="col-md-6 hidden feedback_section" id="fs{{n}}">
      </div>
    </div>
    <br>
    <br>
    <div class="row center">
      <div class="col-md-3">
        <div class="card quiz_answer " style="width: 18rem;" id="{{n}}_true">
          <div class="card-body" id="title_{{n}}_true">
            TRUE
          </div>
        </div>
      </div>

      <div class="col-md-1">
      </div>

      <div class="col-md-3 space_cards">
        <div class="card quiz_answer" style="width: 18rem;" id="{{n}}_false">
          <div class="card-body" id="title_{{n}}_false">
            FALSE
          </div>
        </div>
      </div>
    </div>

    <div class="row hidden">
        <div class="col-md-5 hidden pic_correct">
          {{correct_phrase[0]}}<br>
          <img src="{{pics[0]}}" alt="" width="200px">
        </div>
          <div class="col-md-5 hidden pic_correct">
            {{correct_phrase[1]}}<br>
            <img src="{{pics[0]}}" alt="" width="200px">
          </div>
        <br>
    </div>
    <div class="left">
      <button class="hidden next_q_btn btn btn-outline-secondary left" type="button" name="button" id="nextbtn_{{n}}">Next Question</button>
    </div>
  </div>

  {% endblock %}
</body>
</html>
