<!-- Home Page -->

<html>
<head>
  <!-- Add Bootstrap -->
  <meta charset="utf-8">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="../static/quiz.js"></script>
  <script src="../static/navigation.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/quiz.css">

  <script>
  var score = {{score|tojson}}
  var pics = {{pics|tojson}}
  var n = {{n|tojson}}
  var q = {{q|tojson}}
  var correct_phrase = {{correct_phrase|tojson}}
  var wrong = {{wrong|tojson}}
  var alt = {{alt|tojson}}
  </script>

  <style media="screen">
  .card_title{
    font-size: 1.4rem;
  }

  .border{
    border: 1px gray solid;
  }
  </style>
</head>

<body>
  {% extends "layout.html" %}

  {% block content %}

  <div class="container">

    <div class="container-column">
      <div class="score">
        Score: {{score}}/10
      </div>
      <div class="question">
        <strong>Question {{n}}</strong>: True or False:
        <br>{{q}}
      </div>
      <div class="row hidden">
        <div class="hidden feedback_section" id="fs{{n}}">
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container-tf center">
      <!--<div class="col-md-3">-->
        <div class="card quiz_answer ans_tf" style="width: 18rem;" id="{{n}}_true">
          <div class="card-body" id="title_{{n}}_true">
            TRUE
          </div>
        </div>
      <!--</div>-->

      <!--<div class="col-md-3 space_cards">-->
        <div class="card quiz_answer ans_tf" style="width: 18rem;" id="{{n}}_false">
          <div class="card-body" id="title_{{n}}_false">
            FALSE
          </div>
        </div>
      </div>
    <!--</div>-->

    <div class="container-column hidden">
      <div class="hidden pic_correct card_title">
        For Reference:
      </div>
      <div class="container-row hidden">
        <div class="hidden pic_correct space_cards border">
          {{correct_phrase[0]}}<br>
          <img src="{{pics[0]}}" alt="" width="200px">
        </div>
          <div class="hidden pic_correct space_cards border">
            {{correct_phrase[1]}}<br>
            <img src="{{pics[1]}}" alt="" width="200px">
          </div>
      </div>
        <br>
    </div>
    <div class="left">
      <button class="hidden next_q_btn btn btn-outline-secondary left" type="button" name="button" id="nextbtn_{{n}}">Next Question</button>
    </div>
  </div>

  {% endblock %}
</body>
</html>
