<!-- Home Page -->

<html>
<head>
  <!-- Add Bootstrap -->
  <meta charset="utf-8">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!--<link rel="stylesheet" src="../css/flashcard.css"/>-->
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="../static/css/review.css">
  <script src="../static/navigation.js"></script>
  <script src="../static/review.js"></script>
</head>

<style media="screen">
.btn{
  margin: 4px;
}

</style>

<body>
  {% extends "layout.html" %}

  {% block content %}
  <h1 class="center">Review Arm Positions</h1><br>
  <div class="container">
      <div class="card space_cards" style="width: 18rem;" id="reviewpos_6">
        <div class="center card_title">
          First Position
        </div>
        <hr>
        <div class="card-body">
          <img class="card-img-top" src="../static/img/first_arms.jpg"></a>
        </div>
      </div>

      <div class="card space_cards" style="width: 18rem;" id="reviewpos_7">
        <div class="center card_title">
          Second Position
        </div>
        <hr>
        <div class="card-body">
          <img class="card-img-top" src="../static/img/second_arms.jpg"></a>
        </div>
      </div>

      <div class="card space_cards" style="width: 18rem;" id="reviewpos_8">
        <div class="center card_title">
          Third Position
        </div>
        <hr>
        <div class="card-body">
          <img class="card-img-top" src="../static/img/third_arms.jpg"></a>
        </div>
      </div>

      <div class="card space_cards" style="width: 18rem;" id="reviewpos_9">
        <div class="center card_title">
          Fourth Position
        </div>
        <hr>
        <div class="card-body">
          <img class="card-img-top" src="../static/img/fourth_arms.jpg"></a>
        </div>
      </div>

      <div class="card space_cards" style="width: 18rem;" id="reviewpos_10">
        <div class="center card_title">
          Fifth Position
        </div>
        <hr>
        <div class="card-body">
          <img class="card-img-top" src="../static/img/fifth_arms.jpg"></a>
        </div>
      </div>
    </div>

    <div class="container">
      <button type="button" name="button" class="btn btn-outline-secondary" id="rev2_feet">Review Feet</button>
      <button type="button" name="button" class="btn btn-outline-secondary" id="rev2_flashcard">Back to Flashcards</button>
      <button type="button" name="button" class="btn btn-outline-secondary" id="rev2_quiz">Quiz</button>
    </div>

  <!--<div class="col-md-2 justify-content-center">
    <button type="button" class="btn btn-secondary btn-circle btn-md" id="rev1_back"> < </button>
  </div>
  <div class="col-md-2 justify-content-center">
    <button type="button" class="btn btn-secondary btn-circle btn-md" id="rev1_next"> > </button>
  </div>-->
  <!--<div class="col-md-6 left">
    <button type="button" name="button" class="left btn btn-outline-primary" id="rev1_back">Back</button>
  </div>

  <div class="col-md-6 right">
    <button type="button" name="button" class="right btn btn-outline-primary" id="rev1_next">Next</button>
  </div>-->
</div>

{% endblock %}
</body>
</html>
